@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  height: 300px;
  margin: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  text-align: center;
  background-color: #ca943d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.main:hover .card:not(:hover) {
  transform: scale(0.9);
  opacity: 0.5;
}
